nav {
    background: linear-gradient(to right, #DC2626, #5B21B6, #9333EA);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 3;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: #fff;
    font-size: 1.1rem;
}

nav a:hover{
    background: linear-gradient(to right, #cf4949, #8251d2, #9769c2);
}

nav a.active{
    background: #fff;
    color: #000;
    font-weight: bold;
}